.HintViewer {
  display: none !important;
}
.ToolIcon__lock {
  display: none !important;
}
.App-toolbar__divider {
  display: none !important;
}
.App-toolbar__extra-tools-trigger {
  display: none !important;
}
.ToolIcon {
  margin-bottom: 0 !important;
}
.layer-ui__wrapper__top-right {
  display: none !important;
}
